<STYLE type="text/css">
.li-itemize{margin:1ex 0ex;}
.li-enumerate{margin:1ex 0ex;}
.dd-description{margin:0ex 0ex 1ex 4ex;}
.dt-description{margin:0ex;}
.toc{list-style:none;}
.thefootnotes{text-align:left;margin:0ex;}
.dt-thefootnotes{margin:0em;}
.dd-thefootnotes{margin:0em 0em 0em 2em;}
.footnoterule{margin:1em auto 1em 0px;width:50%;}
.caption{padding-left:2ex; padding-right:2ex; margin-left:auto; margin-right:auto}
.title{margin:2ex auto;text-align:center}
.center{text-align:center;margin-left:auto;margin-right:auto;}
.flushleft{text-align:left;margin-left:0ex;margin-right:auto;}
.flushright{text-align:right;margin-left:auto;margin-right:0ex;}
DIV TABLE{margin-left:inherit;margin-right:inherit;}
PRE{text-align:left;margin-left:0ex;margin-right:auto;}
BLOCKQUOTE{margin-left:4ex;margin-right:4ex;text-align:left;}
TD P{margin:0px;}
.boxed{border:1px solid black}
.textboxed{border:1px solid black}
.vbar{border:none;width:2px;background-color:black;}
.hbar{border:none;height:2px;width:100%;background-color:black;}
.hfill{border:none;height:1px;width:200%;background-color:black;}
.vdisplay{border-collapse:separate;border-spacing:2px;width:auto; empty-cells:show; border:2px solid red;}
.vdcell{white-space:nowrap;padding:0px;width:auto; border:2px solid green;}
.display{border-collapse:separate;border-spacing:2px;width:auto; border:none;}
.dcell{white-space:nowrap;padding:0px;width:auto; border:none;}
.dcenter{margin:0ex auto;}
.vdcenter{border:solid #FF8000 2px; margin:0ex auto;}
.minipage{text-align:left; margin-left:0em; margin-right:auto;}
.marginpar{border:solid thin black; width:20%; text-align:left;}
.marginparleft{float:left; margin-left:0ex; margin-right:1ex;}
.marginparright{float:right; margin-left:1ex; margin-right:0ex;}
.theorem{text-align:left;margin:1ex auto 1ex 0ex;}
.part{margin:2ex auto;text-align:center}
.rfloat{float:right;}
body{
    font-family: noto sans;
    font-size: medium;
    margin: 20%;
    margin-top: 5px;
    background-color: #2a6099;
    margin-bottom: 20px;
    }

.main {
    background-color: #fcfcfc;
    padding-left: 20px;
    padding-right: 20px;
    }
.mainheading {
    background-color: #fcfcfc;
    width: 100%;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    }
.subsection {
    text-decoration: underline;
    }

h1, h2, h3, h4{font-weight: normal;
}
h1{font-size: 140%;}
h2{font-size: 130%;
border-bottom: solid 1pt;
}
h3{font-size: 115%;}
h4{
font-weight: bold;
margin-bottom: 0; /* Removes all bottom margin */
line-height: 1.0; /* Sets line-height equal to font size (reduces space) */
}
.paragraph{font-size: 100%;
font-weight: normal;
/* text-decoration: underline; */
}
.alphaenum ol{list-style-type: lower-alpha;
}
.mantra{border: solid;
border-width: 1px;
border-color: #aaa;
background: #eee;
margin: 2pt;
margin-left: 8%;
margin-right: 8%;
padding: 2pt;
}
.summary{border: solid;
border-width: 3px;
border-color: #2a6099;
background: #d9ecff;
margin: 2pt;
padding: 10px;
padding-bottom: 0px;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
.floatright{float: right;
}
.mini {font-size:.6em}
</STYLE>
<div class="main">
<table class="title">
<tr><td style="vertical-align: top;">
<h1 class="titlemain"><big><b>Andreas Tille</b></big><br>
    <small>DPL Platform</small><br>
    <small>2025-03-11</small>
</h1>

<a href="mailto:tille@debian.org"><tt>tille@debian.org</tt></a><br />
<a href="https://people.debian.org/~tille/">Debian Developer page</a><br />
<a href="https://people.debian.org/~tille/talks/">Debian related talks</a><br />
<a href="https://fam-tille.de"><tt>Private homepage</tt></a><br />

</td>
<td width=50%>&nbsp;</td>
<td style="vertical-align: bottom;">
<div style="min-height: 210px;">
<img style="float: left; padding-right: 10px;" src="20140827_2.jpg" alt="Image of Andreas Tille" width="140">
</div>
</td>
</tr>
</table>

<h2 class="section">1. Introduction</h2>

<p>My name is Andreas Tille. My
Debian account is <em>tille</em> and I served as DPL the last term.</p>

<p>
I am married and a proud grandfather (thanks to my son and
daughter-in-law).  I am also a father of two adopted daughters (all
thanks to Debian) and one of these daughters made me a grandfather
again.  My background as a
physicist has fostered a keen interest in practical applications of IT
solutions in science. I have a lifelong passion for various sports,
particularly swimming. Concerned about our environment and the climate
crisis, I have dedicated myself to planting numerous trees. I am an avid
cyclist and have chosen not to own a car, prioritizing sustainable
transportation methods.
</p>

<p>
For me, among other things, freedom means not being available at all
times. That's why I decided against owning a smartphone, for instance.
Therefore, it is important for you to know that as your potential DPL,
there may be times when I am offline and cannot be reached.  I value
freedom deeply, and I am grateful for the privilege of making choices
that are sound with my values.
</p>

<h2 class="section">2. Why I am running for DPL</h2>

<p>
I learned a lot during my first term as DPL. My hope is to continue the
work I started and, ideally, bring some of it to completion. Over the
past year, I received both criticism and trust from the Debian
community. I take the criticism as an opportunity to improve, and I
deeply appreciate the trust placed in me. I hope to build on both in a
second term.
</p>

<p>
In my last platform, I expressed some fears about taking on the DPL
role. Thanks to the incredible support from many people, those fears did
not come true. One concern was that I might no longer find time to
contribute to the Debian Med team-but the team stepped up brilliantly.
I'm grateful for their work and want to explicitly thank them for it.
</p>

<p>
I've come to realize that making significant changes within Debian in a
single DPL term is not feasible-and I firmly believe this is a good
thing. At the same time, I'm reminded of the quote, 'If we want things
to stay as they are, things will have to change.' (Giuseppe Tomasi di
Lampedusa, The Leopard). With that in mind, I want to continue working
on changes that I see as essential for Debian's future, ensuring it
remains the greatest project I've ever been a part of.
</p>

<h2 class="section">3. Agenda</h2>


<h3>Balancing maintenance challenges with respect and sustainability</h3>
<p>
The majority of Debian packages are well maintained, and I am always
astonished by how much volunteers achieve. At the same time, I have
noticed that it is not always easy for volunteers to announce when they
are struggling to keep up, for example, by saying "I can't manage this
anymore-could someone please take over?" This seems to be one reason for
the list of smelly packages (see <a
href="https://trends.debian.net/">Debian Trends</a>). While working with
such packages, I have learned a lot and developed ideas on how to
address this in a way that both respects the efforts of long-time
maintainers and benefits Debian's users.
</p>


<h3>Supporting infrastructure teams and key package maintainers</h3>
<p>
During my last term, I gained a deep appreciation for how much
volunteers achieve in key positions, and I am truly grateful for their
work, which forms the backbone of Debian. As I looked deeper into our
processes, I identified issues that need improvement to better support
our volunteers. The reason I am running for a second term is that I
initially hoped these issues could be resolved quickly-but I was wrong.
Now, with the experience I have gained, particularly in the social
aspects of these challenges, I am committed to addressing them more
effectively.
</p>

<p>
Last year, I also highlighted the need to build more redundancy into key
infrastructure tasks and package maintenance. To identify specific
problem areas, I reached out to various teams. While I admit that I did
not sustain this effort as consistently as I had planned, I am
determined to continue. I see one of the DPL's main responsibilities as
reducing barriers for all volunteers. The first step is identifying
those barriers; the second is working with the relevant teams to find
sustainable solutions.
</p>


<h3>Face to face meetings and diversity</h3>

<p>
I strongly believe that face-to-face meetings are important for Debian,
and so far, they have been my main approach to addressing geographic
diversity within the project. However, it is difficult to measure
success in this area. During my term, one woman completed the New Member
process. While I had encouraged her to join, this was a result of my
past work in Debian Med and Science-not something I would count as an
accomplishment of my DPL term. I know we need to do more, and I welcome
ideas on how we can make Debian more inclusive and improve diversity
within the project.
</p>


<h3>Tiny Tasks: A Different Success</h3>
<p>
In my previous platform, I saw the Tiny Tasks effort as a potential way
to enhance diversity. This turned out to be a wrong assumption. However,
I believe it has been very effective in improving the quality of Debian
packages, and I am proud of the progress made in this area. I will
continue this effort-and who knows, maybe the original idea of
attracting diverse newcomers will become true over time.
</p>


<h2 class="section">4. Why running again</h2>

<p>
The support I've received from so many friends has been overwhelming. If
there's one lesson I've learned as DPL, it's to appreciate and take
pride in being part of a global community filled with incredible people.
That's actually the main reason why I'm nominating myself for a second
term.
</p>


<h2> A. Changelog </h2>

<p> This platform is version controlled in a <a href="https://salsa.debian.org/tille/dpl-platform">git repository.</a> </p>

<ul>
<li><a href="https://salsa.debian.org/tille/dpl-platform/tags/2025.1">2025.1</a>: Platform for 2025 DPL elections.</li>
</ul>

<br>

</div>
